$tengwar-font: 'tengwar_annatarregular';

@font-face {
    font-family: $tengwar-font;
    src: url('../fonts/tngan-webfont.woff2') format('woff2'),
    url('../fonts/tngan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.tengwar-quenya {
    font-family: $tengwar-font;
    font-size: 2em;
}