<!DOCTYPE html>
<html lang="en" ng-app="tengwarTranscriber">
<head>
    <meta charset="UTF-8">
    <title>Tengwar Transcriber</title>
</head>
<body>
    <div class="container" ng-controller="TengwarController as tc">
        <div class="row">
            <div class="col-lg-6">
                <h1>Tengwar Transcriber</h1>
                <p>Transcribe any English characters to Tengwar in less than a minute!</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="toTranslate" placeholder="Anything" ng-model="tc.originalValue" ng-change="tc.transcribe()">
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h2>Result</h2>
                <div class="panel panel-default">
                    <div id="result" class="panel-body tengwar-quenya" ng-bind-html="renderHtml(tc.tengwarResult)">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <h2>Characters</h2>
                <!-- Vowels -->
                <div class="row">
                    <div class="col-sm-1 text-center" ng-repeat="elvishChar in tc.tengwarVowels">
                        <div class="panel panel-default">
                            <div class="panel-body tengwar-quenya">
                                &#8194;<span ng-bind-html="renderHtml(elvishChar.value)"></span>
                            </div>
                            <div class="panel-footer text-center">
                                {{elvishChar.key}}
                            </div>
                        </div>
                    </div>

                    <!-- Double Vowels -->
                    <div class="col-sm-1 text-center" ng-repeat="elvishChar in tc.tengwarDoubleVowels">
                        <div class="panel panel-default">
                            <div class="panel-body tengwar-quenya">
                                &#8194;<span ng-bind-html="renderHtml(elvishChar.value)"></span>
                            </div>
                            <div class="panel-footer">
                                {{elvishChar.key}}
                            </div>
                        </div>
                    </div>

                    <!-- Consonants -->
                    <div class="col-sm-1 text-center" ng-repeat="elvishChar in tc.tengwarConsonants" ng-if="elvishChar.value !== ''">
                        <div class="panel panel-default">
                            <div class="panel-body tengwar-quenya">
                                <span ng-bind-html="renderHtml(elvishChar.value)"></span>
                            </div>
                            <div class="panel-footer">
                                {{elvishChar.key}}
                            </div>
                        </div>
                    </div>

                    <!-- Double Consonants -->
                    <div class="col-sm-1 text-center" ng-repeat="elvishChar in tc.tengwarDoubleConsonants" ng-if="elvishChar.value !== ''">
                        <div class="panel panel-default">
                            <div class="panel-body tengwar-quenya">
                                <span ng-bind-html="renderHtml(elvishChar.value)"></span>
                            </div>
                            <div class="panel-footer">
                                {{elvishChar.key}}
                            </div>
                        </div>
                    </div>

                    <!-- Supplementary -->
                    <div class="col-sm-1 text-center" ng-repeat="elvishChar in tc.tengwarSupplementary" ng-if="elvishChar.value !== ''">
                        <div class="panel panel-default">
                            <div class="panel-body tengwar-quenya">
                                <span ng-bind-html="renderHtml(elvishChar.value)"></span>
                            </div>
                            <div class="panel-footer">
                                {{elvishChar.key}}
                            </div>
                        </div>
                    </div>

                    <!-- Punctuation -->
                    <div class="col-sm-1 text-center" ng-repeat="elvishChar in tc.tengwarPunctuation" ng-if="elvishChar.value !== ' '">
                        <div class="panel panel-default">
                            <div class="panel-body tengwar-quenya">
                                <span ng-bind-html="renderHtml(elvishChar.value)"></span>
                            </div>
                            <div class="panel-footer">
                                {{elvishChar.key}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
</html>